* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#login,
#signup {
  border: 1px solid grey;
  padding: 15px;
  align-items: center;
  text-align: center;
}
#login input {
  margin: 2px 5px;
  padding: 5px;
}
#signup {
  text-align: center;
}
section {
  font-size: small;
  text-align: center;
}
section a {
  margin: 5px;
  color: gray;
}
#app {
  text-align: center;
}
#app img {
  margin: 10px;
}
footer {
  font-size: x-small;
  text-align: center;
  color: gray;
}
